$('.loginstat').removeClass('fl').addClass('fr').css({"margin-right":"2px","margin-left":"-12px"}).appendTo('a.label.label-primary.fl')

$(`	<link href="" rel="stylesheet">

<style>
.lonline>.hand.nosel.fl.uzr.border>div>div:first-child {
    max-height: 28px;
}
.uzr.fl.corner.borderg.mm {
    background-color: #ffffff3b!important;
}
.lonline>.hand.nosel.fl.uzr.border>div {
    width: 82%!important;
}
.lonline>.hand.nosel.fl.uzr.border>div>.fl.mini.u-msg {
    color: #454545!important;
    text-align: center;
    background-color: #EBEBEB;
}
.lonline>.hand.nosel.fl.uzr.border {
    margin: 0px 1px 1px 2px!important;
    padding: 1px;
    border: none;
    border-left: 1px solid #262161;
    border-right: 1px solid #262161;
    border-radius: 3px!important;
}
			ul.nav.nav-tabs li a {
    width: 100%;
    text-align: center;
}
			ul.nav.nav-tabs li {
    width: 33%;

div#tlogins .ssss,div#tlogins .fa.fa-refresh {
    border-radius: 0;
}
div#tlogins a.label.label-primary.fl img {
    border-radius: 12%;
    border: 1px solid #fff;
margin-top: -2px;
}
input#u3,input#u2 {
    margin-left: 2px;
}
div#tlogins div#l1 button ,div#tlogins div#l2 button,div#tlogins div#l3 button {
    width: 50px;
}
		</style>
<div class="rainbow"><img alt="شات" src="sico/1651362452365.gif" class="fl" style="width:100%;margin-bottom: 2px;background-color: white;">
`).insertBefore('.nav-tabs');
<style>

.popover.top{margin-top:-16px}img.fr{width:16px!important;height:12px!important}.topWall3>div>span{color:#dc143c}.topWall10>div.top{width:99%;margin:4px 0 -2px 2px !important;padding:1px;border-bottom:2px solid;border-radius:5px!important;border-top:2px solid;border-color:#1391a7}.topWall10>div.top>img{border-color:#1391a7;background-size:cover;padding:21px;border-radius:11%}.topWall10>div.top>span.dots{color:red}.topWall10>div.top>div>span.dots{padding:10px 2px;color:#0007d4}#wall label.border.btn.fl{background-image:linear-gradient(to bottom,#1391a7 0,#184b54 100%);color:#f0f8ff;border-radius:4px!important}#rooms .fa-microphone:before{display:none}#wall img.fr{width:30px!important;height:30px!important}span.corner.u-topic.dots{text-overflow:clip}div#tlogins img.fitimg.fl.u-pic{padding:25px;margin-top:-1px!important;min-width:52px;width:56px!important;min-height:48px;max-height:62px}.broadcasters>div>.prod>.evant>i{padding:0 11px;border-left:1px solid #d3d3d3;border-top:1px solid #d3d3d3;border-right:1px solid #a6a6a6;border-bottom:1px solid #a6a6a6;border-radius:3px;border-color:#fff!important;background-image:linear-gradient(to bottom,#f8f9fa 0,#dee2e6 100%)!important}
.fitimg.fl.u-pic  {box-shadow: inset 0 10px 10px rgba(0,0,0,.080), 0 0 10px rgb(118, 118, 22226);border-radius: }
.fa-microphone:before{font-size:30px!important}.broadcasters>div>.prod>.fa-microphone{margin-top:0px!important;border-bottom:0px solid#F7F7F700!important}#users .fl.mini.u-msg{padding:9px}.broadcasters>div>.prod{float:right;width:70px;height:70px;border:30px solid;margin:5px 15px;text-align: center;
width:70px;
background-image:none;
border:2px solid #afbfc2!important;
background-color:#ffffff;
    border-radius: 30% 1% !important;
    margin: 1px !important;
    height: 50px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    border-radius: 30% 1% !important;
 !important;color:#000;box-shadow:3px 3px 50px 50 #000;background:#F7F7F70;border-left:5px solid #afbfc2;border-top:2px solid #afbfc2;border-right:5px solid #afbfc2;border-bottom:15px solid #afbfc2}#topWall .topWall10>div.top>div>div>span{margin-top:-6px;padding:1px 4px;width:31%;text-align:center;border-bottom:0 solid;display:inline;color:#}.broadcasters>div{max-width:100%!important}
</style>`).insertBefore('body');

$('div#tlogins div#l1 input,div#tlogins div#l2 input,div#tlogins div#l3 input').addClass('form-control primaryborder').css({'text-align':'center','max-width':'40%','float': 'right'})
$('div#l1 br,div#l2 br,div#l3 br').remove()
$('input#stealth').css('max-width','15px').removeClass('form-control')
$('#l2 .checkbox label').html($('#l2 .checkbox label input')[0].outerHTML)
$('#l2 .checkbox').css({"margin":"7px -5px 0 0","float":"right"})
$('ul.nav.nav-tabs,.nav-tabs>li>a').addClass('label-primary').css({"color":"white","padding":"4px 0px"})
$('ul.nav.nav-tabs').css({"padding":"0px"})
$('input#u1').css({"max-width":"80%"})
$('.lonline.light.break').addClass('primaryborder').css({"border-top":"2px solid","padding-top":"5px"})

$('.hand.nosel.fl.uzr.border').css({'margin': '5px 5',borderRight: '8px solid #FFFFFF',borderLeft: '7px solid #FFFFFF',borderTop: '5px solid #FFFFFF',borderBottom: '2px solid #E9EEF7',paddingTop: '5px',borderRadius: '7px'});
